# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\D_PROGRAMDATA\IJ_WorkSpace20201002\countSequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
